
.jobs-list{
    max-width: 1230px;
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* padding: 0 px; */
    padding-right: 33px;
}







.jobs-container{
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.job-tile{
    /* background: rgb(112, 109, 109); */
    /* border-radius: 10px; */
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: rgb(240, 227, 227);
    padding: 20px;
    transition: transform 0.2s;
}




.job-tile:hover{
    transform: scale(1.05);
}

.top{
    
    width:100%;
    display:flex;
    /* justify-content: space-between; */
    
}


.top img{
    width: 110%;
    height:114%;
}



.rolename{
    padding: 20px 0px;
}

.rolename span{
    font-size: 22px;
}

.description{
    height: 105px;
    overflow: hidden;
    font-size: 18px;
    color: cadetblue;
}

.buttons{
    color: chocolate;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    height: 45px;
}

.button {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: darkgrey;
    background-color: darkslategray;
    font-size: 14px;
}

.apply-now{
    color: white;
    background:blue ;
    margin-right: 15px;
}





/* product js style  */



.container {
    display: flex;
    margin: 1vmax auto;
    width: 90vw;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
  }

.productCard {
    width: 16vmax;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: rgb(48, 48, 48);
    margin: 2vmax;
    transition: all 0.5s;
    padding-bottom: 0.5vmax;
  }
  
  .productCard > img {
    width: 16vmax;
    height: 19vmax;
  }


  .productCard >div > span{
    margin:1vmax;
    font: 380 0.8vmax "Roboto";
  } 
  
  .productCard > div {
    margin: 0.5vmax;
    display: flex;
    justify-content: flex-start;
 
  }
  
  .productCardSpan {
    margin: 0.5vmax;
    font: 300 0.7vmax "Roboto";
  }
  
  .productCard > p {
    font-family: "Roboto";
    font-size: 1.2vmax;
    margin: 1vmax 0.5vmax;
    margin-bottom: 0;
  }
  
  .productCard > span {
    margin: 0.5vmax 0.5vmax;
    color: tomato;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 1vmax;
  }
  
  .productCard:hover {
    box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);
  
    transform: translateY(-1vmax);
  }
  
  footer {
    margin-top: 570vmax;
    padding: 2vmax;
    background-color: rgb(34, 33, 33);
    color: white;
    display: flex;
    align-items: center;
  }
  



  @media screen and (max-width: 600px) {
    .productCard > p {
      font-size: 1.7vmax;
    }
  
    .productCard > div {
      margin: 0vmax;
      display: block;
    }
  
    .productCard > span {
      font-size: 1.5vmax;
    }
  
    .productCard > div > span {
      margin: 0.5vmax;
      font: 300 0.7vmax "Roboto";
    }
  }
  